/* nav bar */
.right {
  float: right;
}

.left {
  float: left;
}

#nav {
  display: block;
  background-color: rgb(209, 198, 198);
  display: inline-block;
  width: 98vw;
  border: 3px solid #51ff25;
  border-radius: 5px;
  margin: 6px;
}

/* main section */

body {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background: url("assets/images/balance-in-the-force.png");
}

section {
  padding: 0 100px;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  position: relative;
  max-width: 200px;
  padding: 50px;
  background: rgba(255, 255, 255, 0.4);
}

#quizBody {
  text-align: center;
  padding: 12vh;
}
h1 {
  color: rgb(0, 0, 0);
}

h4 {
  padding: 10px 8px 10px 8px;
}

a {
  text-decoration: none;
  color: black;
}

button {
  border: none;
  background-color: #b83eff;
  color: white;
  border-radius: 5px;
  padding: 10px 16px 10px 16px;
  font-size: 17px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 4px;
}

button:hover {
  transition-duration: 0.4s;
  background-color: #00aeff;
}
